$fonts: "Poppins", sans-serif;

$color-logo-title:rgb(0, 0, 0);
$color-placeholder:rgb(181, 183, 192);
$color-black: rgb(0, 0, 0);
$color-main-bg: rgb(250, 251, 255);
$color-sidebar-bg:  rgb(255, 255, 255);
$color-sidebar-box-shadow: 0rem 0.63rem 3.75rem 0rem rgba(226, 236, 249, 0.5);
$color-logo-version: rgb(131, 131, 131);
$color-hover-bg:  rgb(89, 50, 234);
$color-white: white;
$color-user-job-title: rgb(117, 117, 117);
$color-header-search-bg:  rgb(249, 251, 255);
$color-list-name: rgb(145, 151, 179);
$color-info-activ: rgb(22, 192, 152);
$color-page-namber: rgb(238, 238, 238);
$color-btn-bg: rgb(245, 245, 245);
$color-activ-bg: rgba(22, 192, 152, 0.38);
$color-activ-color: #008767;
$color-activ-border: rgb(0, 176, 135);
$color-inactiv-border: rgb(223, 4, 4);
$color-inactiv-bg: rgb(255, 197, 197);
$color-inactiv-color: #DF0404;




